<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>
    </head>
    <body>
        <h2>This is Home Page</h2>
        <h1><%= 1+ 7 %></h1>
        <button>Click me</button>
    </body>
</html>